#textBody {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgreen;
    background-image: url("https://user-images.githubusercontent.com/104579354/166898752-770e02c3-34b4-4dea-856c-0679a679f191.jpeg");
}
